@media screen and (max-width: 479px) {
	.future-area .future-item.remove-bg img {
		max-width: 240px;
	}
	.header-logo>a>span {
		width: 100px;
		position: relative;
		top: 12px;
	}
	.digital-asset-area .digital-assets-box {
	    text-align: center;
	}
	.digital-assets-box .digital-media {
	    position: static;
	    display: block;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.digital-assets-box .digital-info {
	    padding: 0px;
	}
	.footer-block .form-group .form-control {
	    padding: 15px 15px;
	}
	.footer-block .form-group .form-btn {
	    position: static;
	    margin-top: 12px;
	}
}

@media screen and (max-width: 575px) {
	br {
		display: none;
	}

	.slider-main h1 {
		font-size: 50px;
	}

	.slider-main h2 {
		font-size: 30px;
	}

	.slider-main h2 span {
		font-size: 24px;
	}

	.slider-area .slider-main h3 {
		font-size: 24px;
	}

	.slider-area .slider-main h3 br {
		display: none;
	}

	.token-right .token-item {
		display: block !important;
		margin-top: 30px;
	}

	.token-item .token-ico>span,
	.digital-assets-item .digital-assets-ico,
	.future-area .future-ico {
		margin: 0px auto 25px;
	}

	.currencies__main .currencies-list {
		width: calc(100% - 30px);
	}

	.login-box .login-logo {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 767px) {
	.header-right ul>li:last-child {
		display: none;
	}

	.digital-currencies-area .digital-currencies-box {
		padding: 0px;
	}

	.slider-area,
	.future-area .future-item,
	.token-area,
	.token-area .page-title h2,
	.token-area .page-title p,
	.digital-assets-area .digital-assets-item,
	.digital-currencies-box .page-title h2,
	.digital-currencies-box .page-title p,
	.footer-copyright .fo-bottom-link,
	.footer-text .theme-description,
	.service-grid .service-item {
		text-align: center;
	}

	.page-title.text-left,
	.page-title.text-left h4,
	.page-title.text-left h2,
	.page-title.text-left h1,
	.page-title.text-left p,
	.hero-service-info .hero-btn {
		text-align: center !important;
	}

	.finance-info .page-title.text-left,
	.finance-info .page-title.text-left h2 {
		text-align: left !important;
	}

	.hero-service .hero-service-media {
		margin-top: 50px;
	}

	.solution-area .solution-media {
		margin-top: 50px;
	}

	.finance-area .finance-media {
		margin-bottom: 50px;
	}

	.page-title h2,
	.page-title h1,
	.page-title h4 {
		font-size: 30px;
	}

	.theme-title {
		font-size: 24px;
	}

	.theme-description br,
	.token-area .page-title h2 br,
	.token-area .page-title p br {
		display: none;
	}

	.future-area .future-item.remove-bg {
		margin-top: 30px;
	}

	.footer-text .theme-description {
		margin-top: 8px;
	}
	.digital-assets-box .digital-media {
	    display: block;
	}
	.digital-media,
	.finacing-media {
		display: none;
	}

	.digital-media.responsive-media,
	.finacing-media.responsive-media {
		display: block;
	}

	.about-area .page-title.text-left p,
	.hero-service-info .page-title.text-left p {
		font-size: 18px;
	}
	.about-area .page-title.text-left .small-text-about {
		font-size: 18px;
	}
	.digital-assets-area .digital-assets-item {
	    height: auto;
	}
}

@media screen and (max-width: 991px) {
	.page-paddings,
	.page-background,
	.hero-service {
		padding: 80px 0px;
	}
	.header-main~.hero-service {
	    padding-top: 130px;
	}
	.header-main {
		background-color: #fff;
		box-shadow: 0px 0px 15px #eee;
	}

	.header-nav-menu .navbar {
		position: static;
	}

	.header-main .row>div {
		position: static;
	}

	.header-nav-menu .navbar .navbar-toggler {
		padding: 0px;
		height: 40px;
		width: 40px;
		line-height: 41px;
		margin-top: -3px;
		font-size: 22px;
		background-color: #171AA0;
		color: #fff;
		border: 0px;
		position: absolute;
		top: 13px;
		right: 72px;
		outline: 0;
	}

	.header-right {
		position: absolute;
		top: 19px;
		right: 0px;
	}

	.header-main .navbar-collapse {
		position: absolute;
		top: 62px;
		left: 0px;
		right: 0px;
		background-color: #fff;
		border-top: 1px solid #eee;
		box-shadow: 15px 8px 15px #eee;
		z-index: 99;
	}

	.header-nav-menu .navbar .navbar-collapse .navbar-nav {
		padding: 12px 0px;
	}

	.navbar-nav .nav-item .nav-link>i {
		right: 0px;
	}

	.navbar-nav .nav-item .dropdown-menu {
		box-shadow: none;
		border: 0px;
		padding: 0px;
		margin-top: 6px;
	}

	.navbar-nav .nav-item .dropdown-menu .dropdown-item {
		padding: 12px 0px;
	}

	.slider-area .bg-media,
	.digital-currencies-area .digital-bg,
	.future-area .future-bg {
		display: none;
	}

	.future-area .future-main {
		margin: 0px;
	}
}

@media screen and (max-width: 767px) and (min-width: 575px) {
	.currencies__main .currencies-list {
		width: calc(50% - 30px);
	}

	.slider-main h1 {
		font-size: 80px;
	}

	.slider-main h2 {
		font-size: 40px;
	}

	.slider-area .slider-main h3 {
		font-size: 32px;
	}

	.slider-area .slider-main h3 br {
		display: none;
	}

	.future-area .future-ico,
	.digital-assets-item .digital-assets-ico {
		margin: 0px auto 25px;
	}

	.token-right .token-item {
		margin-top: 50px;
		margin-bottom: 0px;
		text-align: left;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.header-right {
		top: 6px;
	}

	.header-nav-menu .navbar .navbar-toggler {
		right: 252px;
	}

	.page-title h2,
	.page-title h1 {
		font-size: 40px;
	}

	.page-title p {
		font-size: 18px;
	}

	.slider-main h2 span {
		font-size: 26px;
	}

	.slider-main h1 {
		font-size: 70px;
	}

	.slider-main h2 {
		font-size: 35px;
	}

	.slider-area .slider-main h3 {
		font-size: 28px;
	}

	.slider-area .slider-main h3 br {
		display: none;
	}

	.digital-currencies-area .digital-bg,
	.our-product-area .page-bg {
		display: none;
	}

	.future-area .future-item.remove-bg img {
		max-width: 280px;
	}

	.digital-currencies-area .digital-currencies-box {
		padding: 0px;
	}

	.currencies__main .currencies-list {
		width: calc(50% - 30px);
	}

	.token-right .token-item {
		margin-top: 50px;
		margin-bottom: 0px;
	}

	.future-two {
		margin: 0px -15px;
	}

	.future-two .future-item {
		width: calc(50% - 30px);
		margin: 30px 15px 0px;
		float: left;
	}

}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.navbar-nav .nav-item {
		padding: 12px 18px;
	}

	.navbar-nav .nav-item .nav-link {
		font-size: 13px;
	}

	.navbar-nav .nav-item .nav-link>i {
		top: 0px;
	}

	.header-right>ul>li>a.btn-main {
		padding: 14px 18px;
	}

	.header-logo>a>span {
		background-size: cover;
		width: 38px;
	}

	.header-main .container {
		max-width: 100%;
	}

	.slider-area .slider-main h3 {
		font-size: 42px;
	}

	.page-title h2,
	.page-title h1 {
		font-size: 40px;
	}

	.page-title p {
		font-size: 18px;
	}

	.theme-title {
		font-size: 26px;
	}

	.slider-main h1 {
		font-size: 70px;
	}

	.slider-main h2 {
		font-size: 35px;
	}

	.future-area .future-bg,
	.digital-currencies-area .digital-bg,
	.our-product-area .page-bg {
		display: none;
	}

	.future-area .future-item.remove-bg img {
		max-width: 280px;
	}

	.digital-currencies-area .digital-currencies-box {
		padding: 0px;
	}

	.currencies__main .currencies-list {
		width: calc(25% - 30px);
	}

	.token-right .token-item {
		margin-top: 50px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 1600px) and (min-width: 1200px) {
	.header-logo>a>span {
		height: 42px;
	}

	.navbar-nav .nav-item {
		padding: 12px 20px;
	}

	.header-right>ul>li>a.btn-main {
		padding: 14px 15px;
	}

	.digital-currencies-area .digital-currencies-box {
		padding-left: 400px;
	}

	.theme-title {
		font-size: 22px;
	}

	.header-main .row>div {
		max-width: inherit;
		position: static;
	}

	.header-right {
		position: absolute;
		top: 17px;
		right: 15px;
	}

	.slider-area .slider-main h3 br {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.navbar-nav .nav-item:hover .dropdown-menu {
		display: block;
	}
}