:root {
    --primary-color: ;
    --secondary-color: ;
    --text-color: ;
    /* --background-color-rgb: 255, 255, 255; */
}

/* ================================================== */


/* body */


/* ================================================== */
/* width */
@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Bold.woff2') format('woff2'),
        url('../fonts/Gordita-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Thin.woff2') format('woff2'),
        url('../fonts/Gordita-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Black.woff2') format('woff2'),
        url('../fonts/Gordita-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Medium.woff2') format('woff2'),
        url('../fonts/Gordita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Regular.woff2') format('woff2'),
        url('../fonts/Gordita-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../fonts/Gordita-Light.woff2') format('woff2'),
        url('../fonts/Gordita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3D4863;
}

body {
    font-family: 'Gordita' !important;
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
}

body b,
body strong {
    font-weight: 600;
}

.page-paddings {
    padding: 100px 0px;
    position: relative;
}

.page-background {
    padding: 100px 0px;
    background-color: #F0F1F7;
    position: relative;
}

.page-title .page-icon {
    margin-bottom: 30px;
}

.page-full-title {
    display: table;
    width: 100%;
}

.page-full-title .page-left-title {
    display: table-cell;
    vertical-align: middle;
}

.page-full-title .page-btn {
    display: table-cell;
    vertical-align: middle;
    width: 280px;
    text-align: right;
}

.page-title h2,
.page-title h1 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    color: #232323;
}

.page-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #586871;
    max-width: 767px;
    margin: 0px auto 8px;
}

.page-title p>span {
    color: #ff4f4e;
}

.page-title h4 {
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #171AA0;
}

.page-title.text-left h4,
.page-title.text-left h2,
.page-title.text-left h1,
.page-title.text-left p {
    text-align: left;
}

.page-title.text-left p {
    margin: 0px 0px 15px;
}

.page-left-title h4 {
    font-size: 24px;
    color: #FF4F4E;
    margin-bottom: 6px;
}

.page-left-title h2 {
    font-size: 40px;
    color: #14233D;
    margin: 0px;
}

.hero-service-info .page-title.text-left p,
.about-area .page-title.text-left p {
    margin: 0px 0px 25px;
    font-size: 34px;
    font-weight: 600;
}

.about-area .page-title.text-left p {
    max-width: 100%;
}

.about-area .page-title.text-left .small-text-about {
    font-size: 26px;
    font-weight: 500;
}

.mt-minus-30 {
    margin-top: -30px;
}

.ellips-shape {
    position: absolute;
}

.ellips-shape.ellips-up {
    top: -120px;
    right: -50px;
}

.ellips-shape.ellips-down {
    bottom: -180px;
    left: -50px;
}

.page-main {
    margin-top: 30px;
}

.page-main h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin: 0px;
}

.page-main h2>span {
    font-size: 14px;
    color: #ffc947;
    vertical-align: middle;
}

.btn-main {
    background: #171AA0;
    border-radius: 30px 30px;
    padding: 14px 25px;
    color: #ffffff !important;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: 0px;
    cursor: pointer;
    outline: 0 !important;
}

.nav-tabs {
    padding: 15px 15px;
    background-color: #eeeeee;
    position: relative;
    border: 0px;
}

.nav-tabs>.nav-item {
    margin-right: 8px;
}

.nav-tabs>.nav-item:last-child {
    margin-right: 0px;
}

.nav-tabs>.nav-item>.nav-link {
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #1d2330;
    display: inline-block;
    border-radius: 30px 30px;
    padding: 8px 20px;
    border: 0px;
}

.nav-tabs>.nav-item>.nav-link.active {
    color: #ffc947;
}

.theme-description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #586871;
    margin: 0px;
}

.theme-title {
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #232323;
    margin: 0px 0px 15px;
}

.theme-title a {
    color: #232323;
}

.theme-title a:hover {
    color: #171AA0;
}

.owl-item {
    float: left;
}

.owl-nav.disabled,
.owl-dots.disabled {
    display: none;
}

.owl-stage-outer {
    overflow: hidden;
}

.form-group .form-control {
    border: 1px solid #eee;
    padding: 15px 15px;
    font-size: 16px;
    outline: 0;
    box-shadow: none;
}

/* header css */
.header-main {
    padding: 15px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    -webkit-transition: .3s all cubic-bezier(.4, 0, .2, 1);
    transition: .3s all cubic-bezier(.4, 0, .2, 1);
}

.header-main.fixed-header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0 0 8px 0 #cecccc !important;
    padding: 10px 0;
}

.header-main.position-static {
    box-shadow: 0px 0px 15px #eee;
    background-color: #fff;
}

.header-logo>a>span {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 40px;
}

.header-right ul {
    margin: 0px;
}

.header-right>ul>li>a {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
}

.header-right>ul>li>a.btn-main {
    padding: 14px 30px;
}

.header-nav-menu .navbar {
    padding: 0px;
    background-color: transparent !important;
}

.header-nav-menu .navbar .navbar-collapse .navbar-nav {
    margin: 0px auto;
}

.navbar-nav .nav-item {
    padding: 12px 20px;
    position: relative;
}

.navbar-nav .nav-item .nav-link {
    padding: 0px !important;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333 !important;
    position: relative;
}

.navbar-nav .nav-item .nav-link>i {
    position: absolute;
    font-size: 20px;
    right: -18px;
    top: 0px;
}

.navbar-nav .nav-item .nav-link::after {
    content: none;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #171AA0 !important;
}

.navbar-nav .nav-item .dropdown-menu {
    margin: 0px;
    padding: 6px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #eee;
    border: 1px solid #eee;
    width: auto;
    left: 20px;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    padding: 8px 15px;
    font-weight: 500;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item.active,
.navbar-nav .nav-item.active .nav-link {
    color: #171aa0 !important;
    background: transparent;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
    background-color: transparent;
    color: #212529;
}

/* Slider css */
.slider-area {
    background-color: #f9fbfb;
    padding: 140px 0px 90px;
    position: relative;
}

.slider-area .slider-main {
    position: relative;
    z-index: 1;
}

.slider-main h1 {
    font-weight: 700;
    font-size: 125px;
    color: #171AA0;
    margin-bottom: 0px;
}

.slider-main h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #232323;
    margin: 20px 0px 20px;
}

.slider-main h2 span {
    font-size: 36px;
    display: block;
    margin-top: 12px;
    font-weight: 500;
    color: #171aa0;
    text-transform: capitalize;
}

.slider-area .slider-main h3 {
    font-size: 38px;
    line-height: 1.4;
    margin: 0px;
    color: #232323;
}

.slider-area .slider-media {
    position: relative;
    z-index: 1;
}

.slider-area .bg-media {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.future-area .page-title p {
    max-width: 767px;
}

.future-area .future-bg {
    position: absolute;
    top: 0px;
    left: 0px;
}
.future-area .future-main > div {
    margin-top: 30px;
}
.future-area .future-item {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 11px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding: 30px 30px;
    height: 100%;
}

.future-area .future-ico {
    position: relative;
    z-index: 1;
    width: 182px;
    height: 132px;
    line-height: 132px;
    text-align: center;
    margin-bottom: 25px;
}

.future-area .future-ico img {
    height: 70px;
}

.future-area .future-ico::before {
    content: "";
    background-image: url(../images/icon/background.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.future-area .future-item.remove-bg {
    padding: 0px;
    text-align: center;
    box-shadow: none;
    border: 0px;
    margin-top: 160px;
}

.future-area .future-item.remove-bg img {
    max-width: 380px;
}

.token-area .page-title h2 {
    text-align: left;
}

.token-area .page-title p {
    margin: 0px;
    text-align: left;
}

.token-right .token-item {
    position: relative;
    margin-bottom: 50px;
}

.token-right .token-item:last-child {
    margin-bottom: 0px;
}

.token-item .token-ico {
    text-align: center;
    margin-right: 25px;
}

.token-item .token-ico>span {
    display: block;
    height: 126px;
    width: 126px;
    background: #FFFFFF;
    border: 1px dashed rgba(11, 24, 83, 0.35);
    box-shadow: 0px 4px 54px rgb(125 134 174 / 26%);
    border-radius: 100%;
    line-height: 126px;
}

.our-product-main {
    background: linear-gradient(180deg, #171AA0 0%, #8264FF 73.5%);
    position: relative;
    z-index: 1;
    padding: 100px 0px;
    margin-top: 50px;
}

.our-product-box .our-product-media {
    margin-right: 30px;
}

.our-product-box .our-product-media.left-margin {
    margin-left: 30px;
    margin-right: 0px;
}

.our-product-main .our-product-box.border-right {
    border-color: #f2f2f2 !important;
}

.our-product-area .page-bg {
    position: absolute;
    top: 0px;
    right: 0px;
}

.our-product-info h2 {
    font-weight: 700;
    font-size: 108px;
    line-height: 131px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #171aa0;
    margin: 0px;
}

.our-product-info .theme-description {
    color: #FFFFFF;
    font-size: 18px;
}
.digital-assets-area .future-main > div {
    margin-top: 30px;
}
.digital-assets-area .digital-assets-item {
    background: #fff;
    border-radius: 20px;
    padding: 30px 30px;
    transition: all 0.5s;
    height: 100%;
}

.digital-assets-area .digital-assets-item:hover {
    background-color: rgb(23 26 160 / 20%);
    transform: scale(1.02);
}

.digital-assets-item .digital-assets-ico {
    height: 140px;
    width: 140px;
    background-color: #171AA0;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

.digital-assets-ico .digital-media {
    background-image: url(../images/digital-assets/broad-asset.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    display: block;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
}

.digital-assets-ico .digital-media.digital-media-one {
    background-image: url(../images/digital-assets/regulation-ready.svg);
}

.digital-assets-ico .digital-media.digital-media-two {
    background-image: url(../images/digital-assets/institutional-grade.svg);
}

.digital-assets-item .theme-title {
    font-size: 26px;
}

.digital-assets-item:hover .digital-assets-ico {
    background-color: #ffffff;
}

.digital-assets-item:hover .digital-assets-ico .digital-media {
    background-image: url(../images/digital-assets/institutional-grade1.svg);
}

.digital-assets-item:hover .digital-assets-ico .digital-media.digital-media-one {
    background-image: url(../images/digital-assets/regulation-ready1.svg);
}

.digital-assets-item:hover .digital-assets-ico .digital-media.digital-media-two {
    background-image: url(../images/digital-assets/broad-asset1.svg);
}


.faq-area.page-background {
    background: linear-gradient(180deg, #171AA0 0%, #8264FF 51.75%, #50AAFF 100%);
}

.faq-area.page-background .page-title h2 {
    color: #fff;
}

.faq-box .card {
    margin-top: 30px;
    background: #FFFFFF;
    border: 0px;
    box-shadow: 0px 4px 54px rgb(0 147 147 / 15%);
    color: #000000;
    padding: 20px;
    border-radius: 12px 12px;
}

.faq-box .card .card-header {
    padding: 0;
    background: transparent;
    border: 0px;
}

.faq-box .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    padding: 0px;
    border: 0px;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    box-shadow: none;
    white-space: inherit;
}

.faq-box .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

.faq-box .card .card-header .btn-header-link.collapsed {
    color: #000000;
}

.faq-box .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
}

.faq-box .card .card-body {
    padding: 0px;
    font-weight: 400;
    font-size: 18px;
    color: #586871;
    margin-top: 14px;
}

.faq-area .faq-btn {
    margin-top: 50px;
}

.faq-btn .btn-main {
    background-color: #EDF6F6;
    color: #171AA0 !important;
    padding: 14px 35px;
}

.digital-currencies-area .digital-currencies-box {
    padding-left: 480px;
    padding-bottom: 50px;
}

.digital-currencies-area .digital-bg {
    text-align: center;
    position: absolute;
    bottom: 150px;
    left: 0px;
    right: 0px;
}

.digital-currencies-box .page-title h2 {
    text-align: left;
}

.digital-currencies-box .page-title p {
    max-width: initial;
    text-align: left;
}

.currencies__main .currencies-list {
    width: calc(25% - 30px);
    float: left;
    margin: 30px 15px 0px;
    text-align: center;
}

.currencies-list .currencies-item {
    position: relative;
    width: 182px;
    height: 132px;
    text-align: center;
    line-height: 132px;
    margin: 0px auto 25px;
}

.currencies-item::before {
    content: "";
    background-image: url(../images/currencies-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.currencies-item span {
    display: block;
    position: relative;
    z-index: 1;
}


.partner-area {
    display: none;
}

.partner-area .partner-main {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.partner-main .partner-slider {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.partner-main .partner-slider .partner-slider-main {
    display: flex;
    min-width: 100%;
    flex-direction: row;
    margin-top: 30px;
}

.partner-slider .partner-item {
    height: 130px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    min-width: 250px;
    background-color: #F0F1F7;
    -webkit-animation: loop 3s infinite linear;
    animation: loop 3s infinite linear;
}

.partner-area .partner-main:hover .partner-item {
    animation-play-state: paused;
}

.hero-service {
    background-color: #f9fbfb;
    padding: 158px 0px 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hero-service .bg-media {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.service-grid .service-item-box {
    margin-top: 30px;
}

.service-grid .service-item {
    border: 1px solid #eee;
    border-radius: 10px 10px;
    padding: 30px 30px;
    height: 100%;
    transition: all 0.3s;
}

.service-grid .service-item:hover {
    box-shadow: 0px 0px 15px #eee;
}

.service-item .service-ico {
    margin-bottom: 25px;
}

.service-item .service-ico img {
    height: 70px;
}

.service-video {
    background: linear-gradient(180deg, #171AA0 0%, #8264FF 51.75%, #50AAFF 100%);
    position: relative;
}

.service-video::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.service-video .page-title h2,
.service-video .page-title p {
    color: #fff;
}

.service-video .service-btn .btn-main {
    background-color: #fff;
    color: #171AA0 !important;
    padding: 15px 40px;
}

.about-area {
    background-color: #f9fbfb;
    padding: 158px 0px 100px;
}

.leadership-item {
    margin-top: 30px;
    border: 1px solid #eee;
    border-radius: 10px 10px;
    padding: 30px 30px;
}

.leadership-item .leadership-media {
    height: 120px;
    width: 120px;
    border: 1px solid #eee;
    border-radius: 100%;
    margin: 0px auto 20px;
}

.leadership-item .leadership-media img {
    border-radius: 100%;
    height: 121px;
    width: 121px;
    box-shadow: 0px 0px 15px #eee;
    padding: 4px 4px;
    border: 1px solid #eee;
}

.leadership-item .theme-title {
    margin-bottom: 0px;
    font-size: 26px;
}

.finance-info ul {
    margin-bottom: 30px;
    padding-left: 20px;
}

.finance-info ul>li {
    font-size: 16px;
    margin-bottom: 14px;
    list-style: disc;
}

.finance-info ul>li:last-child {
    margin-bottom: 0px;
}

.service-area .service-box {
    margin-top: 30px;
}

.service-area .service-box .service-ico img {
    height: 70px;
}

.digital-assets-box {
    position: relative;
    margin-top: 60px;
}

.digital-assets-box .digital-media {
    position: absolute;
    top: 0px;
    left: 0px;
}

.digital-assets-box .digital-media img {
    width: 70px;
}

.digital-assets-box .digital-info {
    padding-left: 115px;
}

.solution-main .solution-item {
    margin-top: 30px;
}

.solution-main .solution-item>a {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
    color: #171AA0;
}

.responsive-media {
    display: none;
}

.team-area .team-box {
    margin-top: 30px;
    background-color: #ffffff;
    border: 1px solid #eee;
    padding: 30px 30px;
    border-radius: 8px 8px;
    text-align: center;
}

.privacy-text ul {
    margin: 30px 0px;
    padding-left: 45px;
}

.privacy-text ul>li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #586871;
    margin-bottom: 8px;
    list-style: disc;
}

.privacy-text ul>li:last-child {
    margin-bottom: 0px;
}

.login-main {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    max-width: 400px;
    position: fixed;
    top: 0px;
    right: -450px;
    background-color: #171aa0;
    box-shadow: 0px 0px 15px #000;
    transition: all 0.3s;
    z-index: 999;
}

.login-main.show {
    right: 0px;
}

.login-main .table {
    display: table;
    height: 100vh;
    margin: 0px;
}

.login-main .table .table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 30px;
}

.login-main .login-close {
    font-size: 34px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.login-box .page-title h2 {
    font-size: 32px;
    color: #fff;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-box .login-logo {
    margin-bottom: 100px;
}

.login-form .form-group .btn-main {
    width: 50%;
    display: block;
    margin: 0px auto;
}

.login-form>form p {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(255 255 255 / 90%);
    margin: 0px;
    text-align: center;
    line-height: 1.6;
}

.login-form>form p>a {
    color: rgb(255 255 255 / 90%);
}

.login-form>form p .btn-main {
    background-color: #fff;
    color: #000000 !important;
    margin-bottom: 20px;
    padding: 12px 60px;
}

.login-form .login-text {
    margin-top: 30px;
}

.login-form .form-group .custom-control-label {
    color: #fff;
    font-size: 14px;
}

.footer-area {
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #222222;
}

.footer-area .footer-top {
    padding: 70px 0px 100px;
}

.footer-top .footer-widget {
    margin-top: 30px;
}

.footer-widget .footer-logo {
    margin-bottom: 20px;
}

.footer-widget .theme-description {
    color: #FFFFFF;
}

.footer-widget .footer-title {
    margin-bottom: 30px;
}

.footer-title h3 {
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0px;
}

.footer-link ul {
    margin: 0px;
}

.footer-link ul>li {
    margin-bottom: 15px;
}

.footer-link ul>li:last-child {
    margin-bottom: 0px;
}

.footer-link ul>li>a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
}

.footer-block .form-group {
    margin: 0px;
    position: relative;
    margin-bottom: 30px;
}

.footer-block .form-group .form-control {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #414141;
    border: 1px solid #414141;
    color: #ffffff;
    padding: 15px 155px 15px 15px;
    border-radius: 10px;
    outline: 0;
    box-shadow: none;
}

.footer-block .form-group .form-btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #171AA0;
    background-color: #fff;
    padding: 15px 20px;
}

.footer-block .form-group .form-btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #171AA0;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 15px 25px;
    border-radius: 10px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    outline: 0;
}

.footer-social .social-ico {
    margin: 0px -12px;
}

.social-ico a {
    font-size: 28px;
    color: #fff;
    margin: 5px 12px;
    display: inline-block;
}

.fo-bottom-link a {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff !important;
    display: inline-block;
    margin-right: 30px;
}

.fo-bottom-link a:last-child {
    margin-right: 0px;
}

.footer-area .footer-copyright {
    background-color: #171AA0;
    padding: 15px 0px;
}

.footer-text .theme-description {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    height: auto;
}

.arrow-up {
    height: 45px;
    width: 45px;
    line-height: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #cccccc80;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.arrow-up.show {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 1200px) {

    body .container,
    .hero-service.financial-section .container {
        max-width: 1650px;
    }

    .hero-service .container,
    .service-area .container,
    .digital-asset-area .container,
    .team-area .container {
        max-width: 1250px;
    }
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.token-area .theme-description, .solution-area .theme-description, .service-grid .theme-description {
    height: auto !important;
}