@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Bold.woff2') format('woff2'),
        url('../fonts/Gordita-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Thin.woff2') format('woff2'),
        url('../fonts/Gordita-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Black.woff2') format('woff2'),
        url('../fonts/Gordita-Black.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Medium.woff2') format('woff2'),
        url('../fonts/Gordita-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Regular.woff2') format('woff2'),
        url('../fonts/Gordita-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita', sans-serif;
    src: url('../fonts/Gordita-Light.woff2') format('woff2'),
        url('../fonts/Gordita-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

